.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
libtool
*.o
*.lo
*.la
libbcg729.pc
test/src/decoderTest
test/src/encoderTest
.libs
bcg729.spec

compile
config.guess
config.h.in
depcomp
install-sh
ltmain.sh
m4
missing
test-driver
config.sub
config.h
stamp-h1
